/* main styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 70px; /* bottom = footer height */
    overflow-x: hidden;
    background: #f5f4f5;
}
.header, .main, .footer-inner {
    width: 960px;
    margin: 0 auto;
}
.clear {
    clear:both;
}
.column {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}
/* end of mainstyles */

/* shared */
.calculate-button {
    display: inline-block;
    width: 202px;
    height: 33px;
    padding: 2px 4px 6px 3px;
}
/* end of shared */

/* header */
.header {
    height: 93px;
    margin: 0 auto;
    background: url(../images/header-center-bg.png) no-repeat;
}
.header:before {
    content: '';
    position: absolute;
    display: block;
    width: 552px;
    height: 93px;
    margin-left: -552px;
    background: url(../images/header-left-bg.png);

}
.header:after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 480px;
    height: 93px;
    margin-left: 960px;
    background: url(../images/header-right-bg.png);
}
.header-inner {
    position: relative;
    height: 91px;
    border-bottom: solid #d6d6d6 4px;
}
.header-bottom-border {
    position: absolute;
    left: 0;
    top: 91px;
    width: 100%;
    height: 4px;
    background: gray;
}
.header-nav > li{
    display: inline-block;
}

.header-logo-box {
    display: inline-block;
    width: 255px;
    margin: 22px 0 0 0;
}

.header-main-nav-box {
    display: inline-block;
    width: 425px;
    margin: 9px 0 0 0;
    vertical-align: top;
}
.header-main-nav-caption {
    display: inline-block;
    height: 34px;
    margin: 0 0 0 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background: #f0e799;
}

.header-contacts-box {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 270px;
}
.header-phone {
    float: right;
}
.header-contacts-box .calculate-button {
    position: absolute;
    left: 67px;
    top: 83px;
    z-index: 2;
    background: url(../images/header-calculate-button.png)
}
/*end of header */

/* main */
.main {
    
}
.main-left-column {
    width: 734px;
}
.slider {
    position: relative;
}
.slider-item-text {
    position: absolute;
    bottom: 0;
    right: 0;
}
.slider-item-text h4,
.slider-item-text a {
    margin-right: 50px;
    background: #f0e799;
}
.slider-control {
    position: absolute;
    top: 145px;
    background: url(../images/slider-buttons.png);
    width: 65px;
    height: 65px;
    cursor: pointer;
}
.slider-control-left {
    left: -25px;
    background-position: 0 0;
}
.slider-control-right {
    left: 630px;
    background-position: -88px 0;
}
.main-text-left-column {
    width: 33%;
}
.main-text-right-column {
    width: 60%;
    padding: 0 20px 0 0;
}
.usecases {
    width:719px;
}
.usecase-image {
    margin: 0 -3px -3px 0;
}
.usecases-header {
    position: relative;
    display: inline-block;
    margin: 0 -4px 0 0;
}
.usecases-header-inner {
    background: url(../images/usecase-category-bg.png);
    position: absolute;
    top: -107px;
    left: -60px;
    width: 118px;
    height: 130px;
    text-align: center;
}
.usecase-category-img {
    margin: 14px 0 0 0;
}
.main-right-column-inner {
    width: 165px;
    position: relative;    
    border: solid #f0e799 3px;
    border-radius: 13px;
    padding: 0 0 0 36px;
    margin: 44px 0 44px 21px;
}
.main-right-column-inner li {
    position: relative;
}
.advantage-icon {
    position: absolute;
    left: -62px;
}
/* end of main*/

/* footer */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: #e6e6e6;
}
.footer p {
    display: inline-block;
    width: 200px;
}
.footer .calculate-button {
    background: url(../images/header-calculate-button.png)
}
/* end of footer */